    <div id="toaster" class="toaster"></div>
    
    <!-- Basecoat & JS scripts -->
    <script src="/assets/js/basecoat.js?v=0.3.11" defer></script>
    <script src="/assets/js/command.js?v=0.3.11" defer></script>
    <script src="/assets/js/dropdown-menu.js?v=0.3.11" defer></script>
    <script src="/assets/js/popover.js?v=0.3.11" defer></script>
    <script src="/assets/js/select.js?v=0.3.11" defer></script>
    <script src="/assets/js/sidebar.js?v=0.3.11" defer></script>
    <script src="/assets/js/tabs.js?v=0.3.11" defer></script>
    <script src="/assets/js/toast.js?v=0.3.11" defer></script>
  </body>
</html>
